@charset "utf-8";

.overflow-hidden {
  overflow: hidden !important;
}
.modal-class{
  overflow: hidden !important;
  height: 100% !important;
}
.hidden {
  display: none !important;
}

.visible{
  visibility: hidden;
}

[disable], .disable {
  pointer-events: none !important;
}

input[type=button], button {
  &.disable, [disable] {
    color: #ccc !important;;
  }
}


.body-loading{
  pointer-events: none !important;
  overflow: hidden !important;
}