@charset "utf-8";
@import "../utils/_variables";

html {
  color: $base-font-color;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html * {
  outline: 0;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  user-select: none;
}

body {
  font-family: sans-serif;
  background-color: $base-body-bgColor;
  font-size: $base-font-size !important; /*px*/
}

body, div, dl, input, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  margin: 0;
  padding: 0
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

fieldset, img {
  border: 0
}

abbr, acronym {
  border: 0;
  font-variant: normal
}

del {
  text-decoration: line-through
}

address, caption, cite, code, dfn, em, th, var {
  font-style: normal;
  font-weight: 500
}

ol, ul {
  list-style: none
}

caption, th {
  text-align: left
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: 500
}

q:before, q:after {
  content: ''
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline
}

sup {
  top: -.5em
}

sub {
  bottom: -.25em
}

a:hover {
  text-decoration: none;
}

a {
  color: #333;
}

ins, a {
  text-decoration: none
}

textarea {
  resize: none;
  overflow: auto;
  width: 100%;
}
input{
  user-select: text !important;
}
button, input[type="text"], input[type="password"], input[type="button"],  input[type="email"], input[type="tel"], input[type="url"], input[type="date"], input[type="datetime-local"], input[type="time"], input[type="number"], select, textarea {
  appearance: none;
  box-sizing: border-box;
  border: none;
  background: none;
  box-shadow: none;
  font-family: inherit;
  font-size: $base-font-size;/*px*/
  height: $listInputBaseHeight; /*px*/
  line-height: $listInputBaseHeight; /*px*/
}