@charset "utf-8";

/* ==========================================================================
   base
   ========================================================================== */
/**
 * 站点字体/背景样式设置
 * 1、微软雅黑 --默认body字体
 * 2、body 默认背景色 “白色 ”，如果检测到颜色值非 null 值，就会应用body背景色
 * 3、图片资源的基本路径
 * 4、字体图标位置
 */

$base-font-family: $FONT_Mobile;
$base-font-color: #333;
$base-font-size: 42px; /*dpr3*/
$base-body-bgColor: #eee; /* 2 */
$base-images-path: '../image'; /* 3 */
$base-fonts-path: '../fonts'; /* 4 */

$baseDpr: 3;
$baseContent: 42px;
$baseContentTop: 30px;
$headHeight: 147px;
$headTitleFontSize: 48px;
$headBgColor: #f8f8f8;
$headColor: #484848;
$headBottomColor: #dfdfdf;

$listItemsHeight: 141px;
$listInputBaseHeight: 54px;
$listInputPadTB: (($listItemsHeight)-($listInputBaseHeight))/2;

