<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="apple-touch-fullscreen" content="yes"/>
    <meta name="format-detection" content="telephone=no, email=no"/>
    <title>首页_iframe</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/pages/index.css">
    <link rel="stylesheet" href="../css/components/ui-parvalue-paystore.css">
    <script>
        !function (a, b) {
            function c() {
                var b = f.getBoundingClientRect().width;
                b / i > 540 && (b = 540 * i);
                var c = b / 10;
                f.style.fontSize = c + "px", k.rem = a.rem = c
            }

            var d, e = a.document, f = e.documentElement, g = e.querySelector('meta[name="viewport"]'), h = e.querySelector('meta[name="flexible"]'), i = 0, j = 0, k = b.flexible || (b.flexible = {});
            if (g) {
                console.warn("The page size will be adapted by the <meta> info.");
                var l = g.getAttribute("content").match(/initial\-scale=([\d\.]+)/);
                l && (j = parseFloat(l[1]), i = parseInt(1 / j))
            } else if (h) {
                var m = h.getAttribute("content");
                if (m) {
                    var n = m.match(/initial\-dpr=([\d\.]+)/), o = m.match(/maximum\-dpr=([\d\.]+)/);
                    n && (i = parseFloat(n[1]), j = parseFloat((1 / i).toFixed(2))), o && (i = parseFloat(o[1]), j = parseFloat((1 / i).toFixed(2)))
                }
            }
            if (!i && !j) {
                var p = a.navigator.userAgent, q = (!!p.match(/android/gi), !!p.match(/iphone/gi)), r = q && !!p.match(/OS 9_3/), s = a.devicePixelRatio;
                i = q && !r ? s >= 3 && (!i || i >= 3) ? 3 : s >= 2 && (!i || i >= 2) ? 2 : 1 : 1, j = 1 / i
            }
            if (f.setAttribute("data-dpr", i), !g)if (g = e.createElement("meta"), g.setAttribute("name", "viewport"), g.setAttribute("content", "initial-scale=" + j + ", maximum-scale=" + j + ", minimum-scale=" + j + ", user-scalable=no"), f.firstElementChild)f.firstElementChild.appendChild(g); else {
                var t = e.createElement("div");
                t.appendChild(g), e.write(t.innerHTML)
            }
            a.addEventListener("resize", function () {
                clearTimeout(d), d = setTimeout(c, 300)
            }, !1), a.addEventListener("pageshow", function (a) {
                a.persisted && (clearTimeout(d), d = setTimeout(c, 300))
            }, !1), "complete" === e.readyState ? e.body.style.fontSize = 12 * i + "px" : e.addEventListener("DOMContentLoaded", function () {
                e.body.style.fontSize = 12 * i + "px"
            }, !1), c(), k.dpr = a.dpr = i, k.refreshRem = c, k.rem2px = function (a) {
                var b = parseFloat(a) * this.rem;
                return "string" == typeof a && a.match(/rem$/) && (b += "px"), b
            }, k.px2rem = function (a) {
                var b = parseFloat(a) / this.rem;
                return "string" == typeof a && a.match(/px$/) && (b += "rem"), b
            }
        }(window, window.lib || (window.lib = {}));
    </script>
</head>
<body>
<page-view v-ref:loading>
    <div v-el:modal v-cloak :class="['modal-overlay',{'in':cardTypeModal}]"></div>
    <div v-cloak class="p-index">
        <!--加油卡类型选择-->
        <div v-tap-mode="selectedGoods" v-cloak :class="['pay-type-list',{'in':cardTypeModal}]">
            <div track-by="$index" v-for="goods in goodsList" tapmode="active-state" @click="setCardType(goods)"
                 :class="['pay-type-item',{'selected':selected.goods.id==goods.id}]">
                <div class="pay-type-bd pay-type-first">
                    <p class="pay-selected-arrow"></p>
                    <img v-cache-img="goods.iconUrl" src="../image/placeholder-card.png" class="pay-type-logo">
                    <p v-text="goods.name" class="pay-type-title"></p>
                </div>
            </div>
        </div>

        <!--号码输入-->
        <div class="number-input-wrap" v-clear-input>
            <label class="number-input-label" for="inputNumber" v-text="selected.goods.colName"></label>
            <input :maxlength="selected.goods.digits"
                   v-model="inputNumber"
                   :placeholder="selected.goods.defaultName" id="inputNumber"
                   type="tel" class="j-model-input number-input">
            <p v-text="cardUserInfo.name" v-show="cardUserInfo.name"
               :class="['number-user-info',{'none-name':!cardUserInfo.status}]"></p>
            <i @click="setClearInputNumber()" class="number-input-del j-clear-input visible"></i>
        </div>

        <!--面值列表-->
        <parvalue-list :selected-parvalue.sync="selected.parvalue"
                       :parvalue-list="selected.goods.parvalueList"></parvalue-list>

        <!--卡备注说明-->
        <div class="card-warn-info" v-show="selected.goods.detail">
            <p class="card-warn-icon"></p>
            <p class="card-warn-txt" v-html="selected.goods.detail"></p>
        </div>

        <!--商铺列表-->
        <paystore-list :interface-list="interfaceList" :paystore-list="selected.parvalue.paystoreList"></paystore-list>
    </div>
</page-view>
<script src="../library/api.js"></script>
<script src="../script/config.js"></script>
<script src="../library/fastclick.js"></script>
<script src="../library/loadsh.js"></script>
<script src="../library/vue.js"></script>
<script src="../script/fulu.js"></script>
<script src="../script/template.js"></script>
<script src="../components/parvalue-paystore.js"></script>
<script src="../script/fuelCard.js"></script>
<script src="../plugins/fuluPay.js"></script>
<script>
    fl.modalWinInit();

    var vm = new Vue({
        el: 'body',
        data: {
            interfaceList: [],
            goodsList: [
                {
                    "catalogId": "",
                    "catalogName": "",
                    "detail": "",
                    "iconUrl": "",
                    "id": '',
                    "name": "",
                    "digits": "", // 文本框输入的最大程度
                    "colName": "", // 卡号的 label
                    "defaultName": "", // 输入卡号的 placeholder
                    "regex": [],//正则表达式
                    "parvalueList": [
                        {
                            "amount": '',
                            "discount": '',
                            "id": '',
                            "isHot": '',
                            "name": "",
                            "officialPrice": '',
                            "parValueSortNumber": '',
                            "paystoreList": [
                                {
                                    "cashBack": "",
                                    "channelCode": "",
                                    "channelName": "",
                                    "channelTitle": "",
                                    "goodsNo": "",
                                    "iconUrl": "",
                                    "id": '',
                                    "interfaceCode": '',
                                    "oldGoodsID": "",
                                    "parvalueId": '',
                                    "points": '',
                                    "purchasePrice": '',
                                    "salePrice": '',
                                    "salePriceNew": "'",
                                    "supplierName": "'",
                                    "tags": [
                                        {
                                            "color": "",
                                            "content": "",
                                            "name": ""
                                        }
                                    ],
                                    "tbExp": '',
                                    "tbPoints": ''
                                }
                            ],
                            "tagContent": "",
                            "tagName": ""
                        }
                    ],
                    "showDiscount": ""
                }
            ],
            selected: {
                goods: {
                    "catalogId": "",
                    "catalogName": "",
                    "cornerIconUrl": "",
                    "detail": "",
                    "explainPicUrl": "",
                    "horizontalPicUrl": "",
                    "iconUrl": "",
                    "id": '',
                    "name": "",
                    "digits": "", // 文本框输入的最大程度
                    "colName": "", // 卡号的 label
                    "defaultName": "", // 输入卡号的 placeholder
                    "parvalueList": [
                        {
                            "amount": '',
                            "discount": '',
                            "id": '',
                            "isHot": '',
                            "name": "",
                            "officialPrice": '',
                            "parValueSortNumber": '',
                            "paystoreList": [
                                {
                                    "cashBack": "",
                                    "channelCode": "",
                                    "channelName": "",
                                    "channelTitle": "",
                                    "goodsNo": "",
                                    "iconUrl": "",
                                    "id": '',
                                    "interfaceCode": '',
                                    "oldGoodsID": "",
                                    "parvalueId": '',
                                    "points": '',
                                    "purchasePrice": '',
                                    "salePrice": '',
                                    "salePriceNew": "'",
                                    "supplierName": "'",
                                    "tags": [
                                        {
                                            "color": "",
                                            "content": "",
                                            "name": ""
                                        }
                                    ],
                                    "tbExp": '',
                                    "tbPoints": ''
                                }
                            ],
                            "tagContent": "",
                            "tagName": ""
                        }
                    ],
                    "showDiscount": ""
                },
                parvalue: {},
                store: {}
            },
            // 卡类型选择
            cardTypeModal: false,
            // 卡主的信息
            cardUserInfo: {
                search: true, //是否需要查询,主要是来回切换的过程中或历史纪录
                status: false, //
                name: ''
            },
            // 卡号
            inputNumber: ''
        },
        watch: {
            // 选择加油卡类型
            cardTypeModal: function (val) {
                if (val) {
                    this.$els.modal.addEventListener('touchmove', function (e) {
                        e.preventDefault();
                    }, false);
                    document.addEventListener('click', function (e) {
                        if (e.target.classList.contains('modal-overlay')) {
                            vm.cardTypeModal = false;
                            vm.requestFireCardTitle(vm.selected.goods.name);
                        }
                    }, false);
                }
            },
            // 卡号输入
            inputNumber: function (val) {
                if (this.cardUserInfo.search) {
                    var selectedGoods = this.selected.goods;
                    if (val.length == selectedGoods.digits) {
                        fl.regRex(val, selectedGoods.regex) && !this.cardUserInfo.name && this.getCardName();
                        return;
                    }
                    this.cardUserInfo = _.assign(this.cardUserInfo, {
                        status: false,
                        name: ''
                    });
                }
            }
        },
        methods: {
            // 改变是否可查询卡主信息
            setCardNameSearch: function (status) {
                var curStatus = this.cardUserInfo.search;
                status && !curStatus && (this.cardUserInfo.search = true);
                !status && curStatus && (this.cardUserInfo.search = false);
            },
            // 对应的加油卡类型是否存在卡号历史纪录
            getInputNumberHistory: function () {
                var cardHistory = _.find($api.getStorage(STORAGE.cardInfo), {id: this.selected.goods.id});
                cardHistory = cardHistory ? cardHistory : {
                    id: this.selected.goods.id,
                    search: false,
                    status: false,
                    name: '',
                    number: ''
                };
                this.cardUserInfo = cardHistory;
                this.$nextTick(function () {
                    this.inputNumber = cardHistory.number;
                    this.$nextTick(function () {
                        this.setCardNameSearch(true);
                    });
                });
            },
            //  未查询到卡主姓名的弹窗
            openCardFrameModal: function () {
                fl.openFrameModal('cardModal.html', 'cardModal.html', {
                    pageParam: {
                        cardUserInfo: _.assign(vm.cardUserInfo, {number: vm.inputNumber})
                    }
                });
                // 接口来自卡主信息的弹窗事件响应
                fl.receiveFire('fireCardModal', function (param) {
                    if (param.eventsName === 'searchName') {
                        vm.getCardName(function (cardUserInfo) {
                            fl.requestFire('setCardModalName', {
                                cardUserInfo: _.assign(cardUserInfo, {number: vm.inputNumber})
                            });
                        });
                        return;
                    }
                    setTimeout(function(){
                        //确认支付逻辑
                        vm.buyByPass()
                    },50);
                });
            },
            // 设置卡类型
            setCardType: function (goods) {
                this.cardTypeModal = false;
                this.$nextTick(function () {
                    if (this.selectedGoods != goods) {
                        this.selected = {
                            goods: goods,
                            parvalue: goods.parvalueList[0],
                            store: false
                        };
                        this.$nextTick(function () {
                            this.getInputNumberHistory();
                        })
                    }
                    this.requestFireCardTitle(goods.name);
                });
            },
            // 通知首页接收事件
            requestFireCardTitle: function (name) {
                fl.requestFire('getCardTitle', {
                    title: name
                });
            },
            // 购买分流
            buyByPass: function () {
                this.selected.store.interfaceCode == '10000' ? this.buyGoods(0) : this.setPingPayType();
            },
            // 选择ping++的支付方式
            setPingPayType: function () {
                fl.openFrameModal(getWidgetPath() + '/template/payFrameModal.html', 'payFrameModal.html');
                // 监听来自自营商品的购买反馈
                fl.receiveFire('firePayModal', function (param) {
                    vm.buyGoods(param.type);
                })
            },
            // 购买商品
            buyGoods: function (payType) {
                if (!fl.getNetwork()) {
                    fl.toast('网络未连接');
                    return;
                }
                var selected = this.selected;
                fl.showProgress({
                    title: '请稍后',
                    text: '正在下单中',
                    modal: true
                });
                fuluPay.buyGoods({
                    store: selected.store,
                    payType: payType,
                    account: this.inputNumber,
                    amount: selected.parvalue.amount
                }, function (result) {
                    vm.buyStatusHandle(result.result);
                });
            },
            // 购买商品后,对结果状态回调
            buyStatusHandle: function (handleType) {
                var selectedStore = this.selected.store;
                /**
                 * 0：支付失败 (取消支付/其他原因)
                 * 1：支付成功
                 * 2：变价提示
                 */
                this.setCardNameSearch(true);
                if (handleType == 2) {
                    fl.showProgress({
                        title: '请稍后',
                        text: '正在查询最新价格',
                        modal: true
                    });
                    var paystoreList = this.selected.parvalue.paystoreList;
                    var oldStoreIndex = _.findIndex(paystoreList, {id: selectedStore.id});
                    fl.get(AJAX.href.getSupplyInfo, {supplyId: selectedStore.id}, function (result) {
                        vm.selected.parvalue.paystoreList.splice(oldStoreIndex, 1, result.data.supply);
                        vm.$nextTick(function () {
                            fl.hideProgress();
                        })
                    });
                    return;
                }
                this.storageCard(1);
                fl.hideProgress();
                selectedStore.interfaceCode != '10000' && fl.closeFrameModal();
            },
            // 返回需要存储的卡主格式信息
            getCardFormat: function () {
                var cardInfo = this.cardUserInfo;
                return {
                    id: this.selected.goods.id,
                    name: cardInfo.name,
                    number: this.inputNumber,
                    search: false,
                    status: cardInfo.status
                }
            },
            /**
             * 卡主信息缓存操作
             *
             * @param status   0:删除  1:添加
             */
            storageCard: function (status) {
                var curCardInfo = this.getCardFormat();
                fl.storageArray(_.assign({
                    key: STORAGE.cardInfo
                }, status ? {
                    write: curCardInfo
                } : {
                    del: {id: curCardInfo.id}
                }))
            },
            // 重置文本框所有信息
            getResetCardInfo: function () {
                return {
                    search: true, //是否需要查询,主要是来回切换的过程中或历史纪录
                    status: false, //
                    name: ''
                }
            },
            // 清除文本框时的信息
            setClearInputNumber: function () {
                this.inputNumber == this.selected.goods.digits && this.storageCard(0);
                this.cardUserInfo = this.getResetCardInfo();
            },
            // 返回查询的卡主信息
            getCardName: function () {
                fl.showProgress({
                    text: '正在查询',
                    modal: true
                });
                var successCb = arguments[0];
                var failCardInfo = {
                    status: false,
                    name: '未查到卡主'
                };

                function getCardInfo(newCardInfo, callback) {
                    vm.cardUserInfo = newCardInfo;
                    vm.$nextTick(function () {
                        fl.hideProgress();
                        callback(vm.cardUserInfo);
                    });
                };
                fl.get(AJAX.href.getCardInfo, {cardId: this.inputNumber}, function (result) {
                    var cardInfo = result.data.object;
                    var cardName = cardInfo.cardName || false;
                    getCardInfo(_.assign(vm.cardUserInfo, cardName ? {
                        status: true,
                        name: cardName
                    } : failCardInfo), function (cardUserInfo) {
                        successCb && successCb(cardUserInfo);
                    });
                }, function () {
                    getCardInfo(failCardInfo, function (cardUserInfo) {
                        successCb && successCb(cardUserInfo);
                    });
                })
            }

        },
        events: {
            // 购买商品
            buyGoodsHandle: function (store) {
                this.selected.store = store;
                this.$nextTick(function () {
                    if (!this.inputNumber) {
                        fl.toast('请先输入加油卡卡号');
                        return;
                    }
                    if (!this.cardUserInfo.name) {
                        fl.toast('请输入正确的加油卡卡号');
                        return;
                    }
                    if (!this.cardUserInfo.status) {
                        this.openCardFrameModal();
                        return;
                    }
                    this.buyByPass();
                })
            }
        }
    });
    fl.apiready(function () {
        // 响应头部的卡类型选择信息
        fl.receiveFire('setOptionCardType', function () {
            vm.cardTypeModal ? vm.cardTypeModal = false : vm.cardTypeModal = true;
        });

        fl.keyBack(api.frameName, function () {
            if (vm.cardTypeModal) {
                vm.cardTypeModal = false;
                return;
            }
            fl.closeWin();
        });

        fl.get(AJAX.href.home, function (result) {
            var data = result.data;
            fl.requestFire('rootHeadInit', {
                rootHeadInit: {
                    optionDisable: false,
                    FAQUrl: data.FAQUrl
                }
            });
            var goodsList = data.goodsList;
            var selectedGoods = goodsList[0];
            vm.goodsList = goodsList;
            vm.interfaceList = data.interfaceList;
            vm.$nextTick(function () {
                // 是否首次进入
                var first = true;
                vm.selected = {
                    goods: selectedGoods,
                    parvalue: first ? selectedGoods.parvalueList[0] : {},
                    store: {}
                };
                vm.$nextTick(function () {
                    first && vm.getInputNumberHistory();
                    fl.frameLoaded();
                })
            });
        })
    });
</script>
</body>
</html>