@charset "utf-8";

.border-b-none {
  border-bottom-color: transparent !important;
}
.border-t-none {
  border-top-color: transparent !important;
}
.border-l-none {
  border-left-color: transparent !important;
}
.border-r-none {
  border-right-color: transparent !important;
}