@charset "utf-8";

$gutter: $baseContent;
$gutterProperty: (t, r, b, l, tr, tb, tl, rb, rl, bl, trb, trl, tbl, rbl);
$directionEllipsis: (t:top, r:right, b:bottom, l:left);

@for $i from 1 through length($gutterProperty) {
  $propertyStr: nth($gutterProperty, $i);
  $lengthPropertyStr: str_length($propertyStr);
  $property1: map_get($directionEllipsis, if($lengthPropertyStr==1, $propertyStr, str_slice($propertyStr, 1, 1)));
  $property2: map_get($directionEllipsis, if($lengthPropertyStr==2, str_slice($propertyStr, 2), null));
  @if $lengthPropertyStr==3 {
    $property2: map_get($directionEllipsis, str_slice($propertyStr, 2, 2));
  }
  $property3: map_get($directionEllipsis, if(str_length($propertyStr)==3, str_slice($propertyStr, 3), null));
  // 有空隙的 gutter
  .#{$NAMESPACES}content-m#{$propertyStr} {
    margin-#{$property1}: $gutter; /*px*/
    @if $property2!=null {
      margin-#{$property2}: $gutter; /*px*/
    }
    @if $property3!=null {
      margin-#{$property3}: $gutter; /*px*/
    }
  }
  .#{$NAMESPACES}content-p#{$propertyStr} {
    padding-#{$property1}: $gutter; /*px*/
    @if $property2!=null {
      padding-#{$property2}: $gutter; /*px*/
    }
    @if $property3!=null {
      padding-#{$property3}: $gutter; /*px*/
    }
  }
  // 无空隙的gutter
  .none-m#{$propertyStr} {
    margin-#{$property1}: 0 !important;
    @if $property2!=null {
      margin-#{$property2}: 0 !important;
    }
    @if $property3!=null {
      margin-#{$property3}: 0 !important;
    }
  }
  .none-p#{$propertyStr} {
    padding-#{$property1}: 0 !important;
    @if $property2!=null {
      padding-#{$property2}: 0 !important;
    }
    @if $property3!=null {
      padding-#{$property3}: 0 !important;
    }
  }
}

.#{$NAMESPACES}content {
  box-sizing: border-box;
  font-size: 32px; /*px*/
}

.#{$NAMESPACES}content-m {
  margin: $gutter; /*px*/
}

.#{$NAMESPACES}content-p {
  padding: $gutter; /*px*/
}