@charset "utf-8";
@import "../utils/main";

$parValueItemHeight: 174px;
$parValueItemGap: 36px;
$selectedColor: #ee7902;
$shopLogoSize: 48px;
$shopNamePadLGap: 21px;
$shopInfoGap: 24px;
$shopNamePricePadB: 9px;
$shopInfoGapHalf: $shopInfoGap/2;
$shopTagBdPadTB: 3px;

/*面值列表*/
.ui-parvalue-list {
  overflow: hidden;
  padding: 42px 42px 21px 42px; /*px*/
  background-color: #fff;
  li {
    float: left;
    width: 33.33%;
    box-sizing: border-box;
    padding: 21px; /*px*/
    &.selected {
      .par-value-discount, .par-value-price {
        color: #fff;
      }
      .par-value-item {
        border-color: $selectedColor;
        background-color: $selectedColor;
      }
    }
  }
  .par-value-item {
    text-align: center;
    width: 100%;
    height: $parValueItemHeight; /*px*/
    box-sizing: border-box;
    border: 1px solid #ccc; /*no*/
    border-radius: 36px; /*px*/
    background-clip: padding-box;
  }
  .par-value-price {
    padding-top: 48px; /*px*/
    font-size: 54px; /*px*/
  }
  .par-value-discount {
    color: #61c5ff;
    font-size: 30px; /*px*/
  }
}

/*店铺列表*/
.ui-store-list {
  background-color: #fff;
  .store-list-bd {
    padding: 60px $baseContent ((60px)- ($shopInfoGapHalf)-($shopTagBdPadTB)) $baseContent; /*px*/
    border-bottom: 1px solid #ccc; /*no*/
  }
  .store-item {
    display: flex;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
  }
  .store-item-l, .store-item-r {
    display: flex;
  }
  .store-item-l {
    flex: auto;
  }
  .store-item-r {
    flex: none;
    width: 201px; /*px*/
    justify-content: flex-end;
  }
  .store-logo-name {
    align-items: center;
  }
  .store-name {
    padding-left: $shopNamePadLGap; /*px*/
  }
  .store-price {
    font-size: 54px; /*px*/
    font-weight: 400;
  }
  .store-type-logo {
    width: $shopLogoSize; /*px*/
    height: $shopLogoSize; /*px*/
  }
  .store-name-price {
    //padding-bottom: ($shopNamePricePadB)-$shopTagBdPadTB; /*px*/
  }
  .store-other {

  }
  .store-tag-list {
    overflow: hidden;
    //padding-top: $shopNamePricePadB; /*px*/
  }
  .store-tag-bd {
    float: left;
    font-size: 30px; /*px*/
    margin-right: 18px; /*px*/
    margin-bottom: $shopInfoGapHalf; /*px*/
    padding: ($shopTagBdPadTB)+3 6px $shopTagBdPadTB 6px; /*px*/
    border-radius: 9px; /*px*/
    color: #70bc46;
    border: 1px solid #70bc46; /*no*/
  }
  .store-attr-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: ($shopNamePadLGap+$shopLogoSize); /*px*/
  }
  .store-experience-list {
    overflow: hidden;
  }
  .store-experience-bd {
    float: left;
    font-size: 36px; /*px*/
    color: #939393;
    padding-right: 36px; /*px*/
    margin-bottom: ($shopInfoGapHalf)-$shopTagBdPadTB; /*px*/
    &:last-child {
      padding-right: 0;
    }
  }
  .store-submit-buy {
    padding-left: 45px; /*px*/
    width: 100%;
    box-sizing: border-box;
  }
  .store-buy-btn {
    width: 100%; /*px*/
    height: 87px; /*px*/
    line-height: 87px; /*px*/
    border-radius: 8px; /*no*/
    box-sizing: border-box;
    border: 1px solid #f6bc80; /*no*/
    background-clip: padding-box;
    color: #ee7902;
  }
}

// 无更多货品提示
.ui-store-none {
  padding-top: $baseContent; /*px*/
  padding-bottom: $baseContent; /*px*/
  text-align: center;
  font-size: 45px; /*px*/
  color: #b1b1b1;
}
