@charset "utf-8";
@import "../utils/main";

/*支付类型选择*/
$payModalHeight: 627px;

.ui-pay-option {
  height: $payModalHeight; /*px*/
  transition-duration: 150ms;
  transform: translate(0, $payModalHeight); /*px*/
  .pay-option-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px $baseContent; /*px*/
    border-bottom: 1px solid #e8e8e8; /*no*/
  }
  .pay-option-title {
    font-size: 51px; /*px*/
    color: #333;
  }
  .pay-by-item {
    color: #e8e8e8;
  }
  .pay-by-bd {
    display: flex;
    align-items: center;
    padding: 45px $baseContent; /*px*/
    border-bottom: 1px solid #e3e3e3; /*no*/
    &.active-state{
      background-color: #dfdfdf;
    }
  }
  .pay-type-info {
    padding-left: 15px; /*no*/
    display: flex;
    line-height: 1.65em; /*no*/
    flex-direction: column;
  }
  .pay-name {
    font-size: 48px; /*px*/
    color: #3e3e3e;
  }
  .pay-mark {
    font-size: 36px; /*px*/
    color: #999;
  }
  .pay-icon {
    width: 132px; /*px*/
    height: 132px; /*px*/
  }
  .pay-option-close {
    display: block;
    width: 150px; /*px*/
    height: 132px; /*px*/
    background: {
      image: url('../../image/i-close.png');
      repeat: no-repeat;
      position: center;
    }
    background-size: 48px 48px; /*px*/
    text-align: center;
    color: #333;
  }
}