@charset "utf-8";
@import "../utils/main";
/*标签详情弹窗*/
$tagModalHeight: 870px;
.ui-tags-details{
  margin-top: -($tagModalHeight/2); /*px*/
  .modal-bd {
    height: $tagModalHeight; /*px*/
  }
  .tag-modal-title {
    height: 120px; /*px*/
    line-height: 120px; /*px*/
    font-size: 48px; /*px*/
    text-align: center;
  }
  .tag-title-bd {
    display: inline-block;
    margin-bottom: 12px; /*px*/
    font-size: 36px; /*px*/
    padding: 3px; /*px*/
    border: 1px solid #70bc46; /*no*/
    border-radius: 9px; /*px*/
    background-clip: padding-box;
  }
  .tag-close-btn {
    width: 100%;
  }
  .tag-details-bd {
    margin-bottom: 21px; /*px*/
  }
  .tag-details-list {
    height: 510px; /*px*/
    overflow: auto;
  }
  .tag-content {
    font-size: 36px; /*px*/
    color: #666;
  }
  .tag-modal-submit {
    padding: $baseContent 0; /*px*/
  }
}