@charset "utf-8";

$btnHeight: 120px;
$btnListMap: (
        ("btnName":"sub", "bgColor":#ff7902, "color":#fff),
        ("btnName":"warn", "bgColor":green, "color":yellow)
);

%btnCommonStyle {
  height: $btnHeight; /*px*/
  line-height: $btnHeight; /*px*/
  text-align: center;
  width: 100%;
  padding-left: 30px; /*px*/
  padding-right: 30px; /*px*/
  box-sizing: border-box;
  font-size: $base-font-size; /*px*/
  border-radius: $btnHeight; /*px*/
}

@each $btnOperateName in $btnListMap {
  $btnOpera: $btnOperateName;
  //@debug $btnOperateName;
  //@debug map_get($btnOperateName,'btnName');
  .#{map_get($btnOpera,'btnName')}-btn {
    background-color: map_get($btnOpera, 'bgColor');
    color: map_get($btnOpera, 'color');
  }
}

.button {
  @extend %btnCommonStyle;
}