@charset "utf-8";

.form-submit{
  margin-top: 60px; /*px*/
}

.textarea-placeholder {
  position: relative;
  .placeholder-content {
    pointer-events: none;
    position: relative;
    line-height: 1.6em;
  }
  .placeholder-area {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: transparent;
    width: 100%;
    max-width: 100%;
    overflow: auto;
    line-height: 1.75em;
  }
}