@charset "utf-8";

.head {
  background-color: $headBgColor;
  &-bd {
    background-color: $headBgColor;
    position: relative;
    line-Height: $headHeight; /*px*/
    height: $headHeight; /*px*/
    border-bottom: 1px solid $headBottomColor; /*no*/
    box-sizing: border-box;
  }
  .active-state {
    background-color: #dfdfdf;
  }
  &.ios-status {
    padding-top: 60px; /*px*/
  }
  &.android-status {
    padding-top: 75px; /*px*/
  }
  .head-left {
    position: absolute;
    left: 0;
    top: 0;
    box-sizing: border-box;
    height: 100%;
  }
  .back-arrow {
    width: 180px; /*px*/
    background-image: url('#{$base-images-path}/i-back-arrow.png');
    background-repeat: no-repeat;
    background-position: 51px center; /*px*/
    background-size: 23px 42px; /*px*/
  }
  .head-right {
    position: absolute;
    top: 0;
    right: 0;
    height: $headHeight; /*px*/
  }
  .head-title {
    width: 246px; /*px*/
    margin: 0 auto;
    font-weight: 500;
    color: $headColor;
    text-align: center;
    height: 100%;
    font-size: $headTitleFontSize; /*px*/
    .card-title {
      margin-left: 30px; /*px*/
    }
    .card-title, .list-arrow {
      float: left;
    }
    .list-arrow {
      margin-left: 15px; /*px*/
      height: 100%;
      width: 27px; /*px*/
      background: {
        image: url('#{$base-images-path}/i-card-arrow.png');
        repeat: no-repeat;
        position: center;
      }
      background-size: 27px; /*px*/
    }
    &.selected {
      .card-title{
        color: #ff7902;
      }
      .list-arrow {
        background-image: url('#{$base-images-path}/i-card-arrow-selected.png');
      }
    }
  }
  .qa-link {
    width: 150px+51px; /*px*/
    background: {
      image: url('#{$base-images-path}/i-qa.png');
      repeat: no-repeat;
    }
    background-position: center; /*px*/
    background-size: 81px 81px; /*px*/
  }
  .kefu-link {
    width: 150px+51px; /*px*/
    background: {
      image: url('#{$base-images-path}/i-kefu.png');
      repeat: no-repeat;
    }
    background-position: center; /*px*/
    background-size: 81px 81px; /*px*/
  }
}