@charset "utf-8";

/**
 * list列表
 */
.list-items {
  background-color: #fff;
  &.item-content-list {
    li {
      height: $listItemsHeight; /*px*/
      line-height: $listItemsHeight; /*px*/
    }
  }
  &.full-item-list {
    li {
      margin-left: 0; /*px*/
      margin-right: 0; /*px*/
      padding-left: $baseContentTop; /*px*/
      padding-right: $baseContentTop; /*px*/
    }
  }
  li {
    position: relative;
    margin-left: $baseContentTop; /*px*/
    margin-right: $baseContentTop; /*px*/
    border-bottom: 1px solid $headBottomColor; /*no*/
    box-sizing: border-box;
    &.full-item {
      margin-left: 0; /*px*/
      margin-right: 0; /*px*/
      padding-left: $baseContentTop; /*px*/
      padding-right: $baseContentTop; /*px*/
    }
    &.input-icon {
      // input icon 加上正则验证
      .symbol-icon, .i-validate {
        position: absolute;
      }
      .symbol-icon {
        left: 0;
        top: 50%;
        margin-top: -($listItemsHeight/6); /*px*/
      }
      .i-validate {
        top: 0;
        height: $listItemsHeight; /*px*/
        width: 132px; /*px*/
        right: 0;
      }
    }
    &.item-content {
      height: $listItemsHeight; /*px*/
      line-height: $listItemsHeight; /*px*/
    }
    &.item-wrap {
      padding-top: 33px; /*px*/
      padding-bottom: 33px; /*px*/
    }
    .item-inner{
      margin-left: 78px; /*px*/
      margin-right: 132px; /*px*/
    }
    .item-input {
      padding-top: $listInputPadTB; /*px*/
      padding-bottom: $listInputPadTB; /*px*/
      width: 100%;
      box-sizing: content-box;
    }
  }
}

/**
 * 单个的 list-item-content
 */
.list-item-content {
  background-color: #fff;
  padding-left: $baseContentTop; /*px*/
  padding-right: $baseContentTop; /*px*/
}