@charset "utf-8";

$modalWidth: 840px;
%modalStyle {
  position: absolute;
  opacity: 0;
  box-sizing: border-box;
  z-index: 200;
  .modal-bd {
    border-radius: 9px; /*no*/
    box-sizing: border-box;
    padding: $baseContent; /*px*/
    background-color: #fff;
  }
  .i-bottom-close-modal {
    margin: 60px auto 0 auto; /*px*/
    width: 132px; /*px*/
    height: 132px; /*px*/
    background: {
      image: url('#{$base-images-path}/i-bottom-modal-close.png');
      position: center;
      repeat: no-repeat;
    }
    background-size: 120px 120px; /*px*/
  }
}

// 从中间弹出窗口
.modal {
  @extend %modalStyle;
  top: 50%;
  left: 50%;
  margin-left: -($modalWidth/2); /*px*/
  width: $modalWidth; /*px*/
  transition-duration: 200ms;
  transition-property: opacity;
  &.in {
    opacity: 1;
    transition-duration: 200ms;
  }
}

// 从底部弹出窗口
.modal-popover {
  @extend %modalStyle;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  transition-property: transform;
  background-color: #fff;
  &.in {
    opacity: 1;
    transform: translate(0, 0) !important;
  }
}

.modal-top {
  @extend %modalStyle;
  top: 0;
  left: 0;
  transition-duration: 200ms;
  width: 100%;
  transition-property: opacity;
  &.in {
    opacity: 1;
    transition-duration: 200ms;
  }
}

.modal-container {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 100;
  background-color: transparent;
}

.modal-overlay {
  position: fixed;
  display: none;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 105;
  &.in {
    display: block;
  }
}

.overFlow-hidden {
  overflow: hidden !important;
}