@charset "utf-8";
.ui-network-error {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #fff;
  .i-network-error {
    margin: 396px auto 0 auto; /*px*/
    width: 318px; /*px*/
    height: 300px; /*px*/
    background: {
      image: url('#{$base-images-path}/i-none-network.png');
      repeat: no-repeat;
      position: center;
      size: 100% 100%;
    }
  }
  .network-error-title {
    color: #939393;
    text-align: center;
    height: 108px; /*px*/
    line-height: 108px; /*px*/
  }
  .refresh-btn {
    margin: 0 auto;
    width: 390px; /*px*/
    height: 96px; /*px*/
    line-height: 96px; /*px*/
    font-size: 36px; /*px*/
    border: 1px solid #dfdfdf; /*no*/
    text-align: center;
    border-radius: 36px; /*px*/
  }
}