@charset "utf-8";

.warning-info {
  overflow: hidden;
  .warning-icon {
    float: left;
    margin-right: 12px; /*px*/
  }
  .warning-content {
    overflow: hidden;
    color: #b3b3b3;
    font-size: 30px; /*px*/
    line-height: 1.5em;
  }
  .warning-provision {
    span {
      display: inline-block;
    }
  }
  .provision-content {
    font-size: 36px; /*px*/
  }
  .provision-title {
    color: #ff4c65;
    padding-left: 3px; /*px*/
    padding-right: 3px; /*px*/
    padding-bottom: 3px; /*px*/
    box-sizing: border-box;
    border-bottom: 1px solid #ff4c65; /*no*/
  }
}