@charset "utf-8";

//.i-card {
//  background: {
//    image: url('#{$base-images-path}/i-card.png');
//    position: center;
//    repeat: no-repeat;
//  }
//  width: 48px; /*px*/
//  height: 48px; /*px*/
//  background-size: 100% 100%; /*px*/
//}
//
//.i-info {
//  background: {
//    image: url('#{$base-images-path}/i-info.png');
//    position: center;
//    repeat: no-repeat;
//  }
//  width: 36px; /*px*/
//  height: 36px; /*px*/
//  background-size: 100% 100%; /*px*/
//}
//
//.i-pwd {
//  background: {
//    image: url('#{$base-images-path}/i-pwd.png');
//    position: center;
//    repeat: no-repeat;
//  }
//  width: 48px; /*px*/
//  height: 48px; /*px*/
//  background-size: 100% 100%; /*px*/
//}
//
//.i-validate {
//  background-size: 36px 36px; /*px*/
//  background: {
//    position: center;
//    repeat: no-repeat;
//  }
//  &.error {
//    background-image: url('#{$base-images-path}/i-error.png');
//  }
//  &.right {
//    background-image: url('#{$base-images-path}/i-right.png');
//  }
//  &.loading {
//    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%236c6c6c'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
//    animation: preloader-spin 1s steps(12, end) infinite;
//  }
//}
//
//@-webkit-keyframes preloader-spin {
//  100% {
//    -webkit-transform: rotate(360deg);
//  }
//}
//
//@keyframes preloader-spin {
//  100% {
//    transform: rotate(360deg);
//  }
//}


