@charset "utf-8";
@import "../utils/main";

/* ==========================================================================
   index
   ========================================================================== */
.p-index {
  /*号码输入*/
  .number-input-wrap {
    position: relative;
    display: flex;
    align-items: center;
    height: 180px; /*px*/
    color: #222;
    background-color: #fff;
    padding-left: $baseContent; /*px*/
    padding-right: $baseContent; /*px*/
    border-bottom: 1px solid $headBottomColor; /*no*/
  }
  .number-input {
    font-size: 48px; /*px*/
    padding-top: $listInputPadTB; /*px*/
    padding-bottom: $listInputPadTB; /*px*/
    display: flex;
    flex: auto;
    padding-right: 102px+$baseContent; /*px*/
  }
  .number-input-del {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0; /*px*/
    height: 100%;
    width: 128px; /*px*/
    background: {
      image: url('../#{$base-images-path}/i-del.png');
      position: center;
      repeat: no-repeat;
    }
    background-size: 48px 48px; /*px*/
  }
  .number-input-label {
    display: flex;
    flex: none;
    font-size: 54px; /*px*/
    &:after {
      content: ':';
      padding-right: 30px; /*px*/
    }
  }
  .number-user-info {
    position: absolute;
    right: $baseContent+(72px); /*px*/
    height: 100%;
    display: flex;
    font-size: 36px; /*px*/
    align-items: center;
    &.none-name {
      color: #ee2e38;
    }
  }
  /*卡号信息提示*/
  .card-warn-info {
    padding-left: $baseContent; /*px*/
    padding-right: $baseContent; /*px*/
    height: 87px; /*px*/
    line-height: 87px; /*px*/
  }
  .card-warn-icon {
    height: 30px; /*px*/
    width: 30px; /*px*/
    float: left;
    margin-top: 27px; /*px*/
    margin-right: 15px; /*px*/
    background: {
      image: url('../#{$base-images-path}/i-warn.png');
      repeat: no-repeat;
    }
    background-position: center;
    background-size: 30px 30px; /*px*/
  }
  .card-warn-txt {
    overflow: hidden;
    font-size: 36px; /*px*/
    color: #939393;
  }
  /*卡类型选择*/
  .pay-type-list {
    position: fixed;
    display: none;
    z-index: 200;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, .3);
    width: 100%;
    //height: 100%;
    &.in {
      display: block;
    }
  }
  .pay-type-item {
    padding: 0 $baseContent; /*px*/
    background-color: #fff;
    &.active-state {
      background-color: #eee;
    }
    &.selected {
      background-color: #eee;
      .pay-selected-arrow {
        visibility: visible;
      }
      .pay-type-title {
        color: #ff7902;
      }
    }
  }
  .pay-type-bd {
    display: flex;
    align-items: center;
    height: 150px; /*px*/
  }
  .pay-type-first {
    border-bottom: 1px solid #dfdfdf; /*no*/
  }
  .pay-selected-arrow {
    visibility: hidden;
    width: 18px; /*px*/
    height: 27px; /*px*/
    margin-right: 39px; /*px*/
    background: {
      image: url('../#{$base-images-path}/i-selected-arrow.png');
      repeat: no-repeat;
      position: center;
    }
    background-size: 100% 100%;
  }
  .pay-type-logo {
    width: 60px; /*px*/
    height: 58px; /*px*/
  }
  .pay-type-title {
    margin-left: 42px; /*px*/
  }
  /*未查询卡主信息弹窗*/
  $CardModalHeight: 636px;
  .card-modal {
    text-align: center;
    top: (486px)+($headHeight); /*px*/
    .modal-bd {
      height: $CardModalHeight; /*px*/
    }
    .title {
      padding-top: 36px; /*px*/
      font-size: 48px; /*px*/
    }
    .confirm-title {
      padding-top: 48px; /*px*/
      padding-bottom: 27px; /*px*/
      font-size: 36px; /*px*/
      color: #939393;
    }
    .confirm-card-number {
      font-size: 54px; /*px*/
      font-weight: 600;
    }
    .confirm-search-name {
      padding-top: 48px; /*px*/
      padding-bottom: 54px; /*px*/
      font-size: 36px; /*px*/
      &.none-name {
        color: #ee2e38;
      }
    }
    .begin-search-btn, .confirm-pay-btn {
      width: 343px; /*px*/
      height: 108px; /*px*/
      line-height: 108px; /*px*/
      border-radius: 108px; /*px*/
      font-size: 39px; /*px*/
    }
    .begin-search-btn {
      float: left;
      background-color: #fff;
      border: 1px solid #ccc; /*no*/
    }
    .confirm-pay-btn {
      float: right;
      color: #fff;
      border: 1px solid #ff7902; /*no*/
      background-color: #ff7902;
    }
  }
}