<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="apple-touch-fullscreen" content="yes"/>
    <meta name="format-detection" content="telephone=no, email=no"/>
    <title>支付方式选择</title>
    <style>
        body {
            overflow: hidden !important;
            background-color: transparent !important;
        }
    </style>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/components/ui-pay-option.css">
    <script>
        !function (a, b) {
            function c() {
                var b = f.getBoundingClientRect().width;
                b / i > 540 && (b = 540 * i);
                var c = b / 10;
                f.style.fontSize = c + "px", k.rem = a.rem = c
            }

            var d, e = a.document, f = e.documentElement, g = e.querySelector('meta[name="viewport"]'), h = e.querySelector('meta[name="flexible"]'), i = 0, j = 0, k = b.flexible || (b.flexible = {});
            if (g) {
                console.warn("The page size will be adapted by the <meta> info.");
                var l = g.getAttribute("content").match(/initial\-scale=([\d\.]+)/);
                l && (j = parseFloat(l[1]), i = parseInt(1 / j))
            } else if (h) {
                var m = h.getAttribute("content");
                if (m) {
                    var n = m.match(/initial\-dpr=([\d\.]+)/), o = m.match(/maximum\-dpr=([\d\.]+)/);
                    n && (i = parseFloat(n[1]), j = parseFloat((1 / i).toFixed(2))), o && (i = parseFloat(o[1]), j = parseFloat((1 / i).toFixed(2)))
                }
            }
            if (!i && !j) {
                var p = a.navigator.userAgent, q = (!!p.match(/android/gi), !!p.match(/iphone/gi)), r = q && !!p.match(/OS 9_3/), s = a.devicePixelRatio;
                i = q && !r ? s >= 3 && (!i || i >= 3) ? 3 : s >= 2 && (!i || i >= 2) ? 2 : 1 : 1, j = 1 / i
            }
            if (f.setAttribute("data-dpr", i), !g)if (g = e.createElement("meta"), g.setAttribute("name", "viewport"), g.setAttribute("content", "initial-scale=" + j + ", maximum-scale=" + j + ", minimum-scale=" + j + ", user-scalable=no"), f.firstElementChild)f.firstElementChild.appendChild(g); else {
                var t = e.createElement("div");
                t.appendChild(g), e.write(t.innerHTML)
            }
            a.addEventListener("resize", function () {
                clearTimeout(d), d = setTimeout(c, 300)
            }, !1), a.addEventListener("pageshow", function (a) {
                a.persisted && (clearTimeout(d), d = setTimeout(c, 300))
            }, !1), "complete" === e.readyState ? e.body.style.fontSize = 12 * i + "px" : e.addEventListener("DOMContentLoaded", function () {
                e.body.style.fontSize = 12 * i + "px"
            }, !1), c(), k.dpr = a.dpr = i, k.refreshRem = c, k.rem2px = function (a) {
                var b = parseFloat(a) * this.rem;
                return "string" == typeof a && a.match(/rem$/) && (b += "px"), b
            }, k.px2rem = function (a) {
                var b = parseFloat(a) / this.rem;
                return "string" == typeof a && a.match(/px$/) && (b += "rem"), b
            }
        }(window, window.lib || (window.lib = {}));
    </script>
</head>
<body>
<div class="modal-container"></div>
<!--支付方式选择-->
<div v-cloak :class="['modal-popover','ui-pay-option',{'in':modal}]">
    <div class="pay-option-head">
        <p class="pay-option-title">支付方式</p>
        <div v-close-frame-modal class="pay-option-close"></div>
    </div>
    <ul class="pay-by-item" v-tap-mode="payTypeList">
        <li tapmode="active-state" v-for="payType in payTypeList" @click="requestParentEvent(payType.code)"
            class="pay-by-bd">
            <img :src="payType.iconUrl" class="pay-icon">
            <div class="pay-type-info">
                <p class="pay-name" v-text="payType.name"></p>
                <p class="pay-mark" v-text="payType.introduction"></p>
            </div>
        </li>
    </ul>
</div>
<script src="../library/api.js"></script>
<script src="../script/config.js"></script>
<script src="../library/fastclick.js"></script>
<script src="../library/loadsh.js"></script>
<script src="../library/vue.js"></script>
<script src="../script/fulu.js"></script>
<script src="../script/template.js"></script>
<script src="../script/fuelCard.js"></script>
<script>
    fl.modalFrameInit();
    var vm = new Vue({
        el: 'body',
        data: {
            payTypeList: [
                {name: '支付宝', introduction: '推荐有支付宝的用户使用', iconUrl: '../image/alipay.png', code: 0},
                {name: '微信支付', introduction: '操作简单易用', iconUrl: '../image/weixin.png', code: 1}
            ]
        },
        methods: {
            requestParentEvent: function (payType) {
                if (!fl.getNetwork()) {
                    fl.toast('网络未连接');
                    return;
                }
                fl.requestFire('firePayModal', {
                    type: payType
                })
            }
        }
    });
    fl.apiready(function () {
        fl.showFrameModal();
    });
</script>
</body>
</html>