<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="apple-touch-fullscreen" content="yes"/>
    <meta name="format-detection" content="telephone=no, email=no"/>
    <title>标签详情信息弹窗</title>
    <style>
        body {
            background-color: transparent !important;
        }
    </style>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/components/ui-tags-details.css">
    <script>
        !function(a,b){function c(){var b=f.getBoundingClientRect().width;b/i>540&&(b=540*i);var c=b/10;f.style.fontSize=c+"px",k.rem=a.rem=c}var d,e=a.document,f=e.documentElement,g=e.querySelector('meta[name="viewport"]'),h=e.querySelector('meta[name="flexible"]'),i=0,j=0,k=b.flexible||(b.flexible={});if(g){console.warn("The page size will be adapted by the <meta> info.");var l=g.getAttribute("content").match(/initial\-scale=([\d\.]+)/);l&&(j=parseFloat(l[1]),i=parseInt(1/j))}else if(h){var m=h.getAttribute("content");if(m){var n=m.match(/initial\-dpr=([\d\.]+)/),o=m.match(/maximum\-dpr=([\d\.]+)/);n&&(i=parseFloat(n[1]),j=parseFloat((1/i).toFixed(2))),o&&(i=parseFloat(o[1]),j=parseFloat((1/i).toFixed(2)))}}if(!i&&!j){var p=a.navigator.userAgent,q=(!!p.match(/android/gi),!!p.match(/iphone/gi)),r=q&&!!p.match(/OS 9_3/),s=a.devicePixelRatio;i=q&&!r?s>=3&&(!i||i>=3)?3:s>=2&&(!i||i>=2)?2:1:1,j=1/i}if(f.setAttribute("data-dpr",i),!g)if(g=e.createElement("meta"),g.setAttribute("name","viewport"),g.setAttribute("content","initial-scale="+j+", maximum-scale="+j+", minimum-scale="+j+", user-scalable=no"),f.firstElementChild)f.firstElementChild.appendChild(g);else{var t=e.createElement("div");t.appendChild(g),e.write(t.innerHTML)}a.addEventListener("resize",function(){clearTimeout(d),d=setTimeout(c,300)},!1),a.addEventListener("pageshow",function(a){a.persisted&&(clearTimeout(d),d=setTimeout(c,300))},!1),"complete"===e.readyState?e.body.style.fontSize=12*i+"px":e.addEventListener("DOMContentLoaded",function(){e.body.style.fontSize=12*i+"px"},!1),c(),k.dpr=a.dpr=i,k.refreshRem=c,k.rem2px=function(a){var b=parseFloat(a)*this.rem;return"string"==typeof a&&a.match(/rem$/)&&(b+="px"),b},k.px2rem=function(a){var b=parseFloat(a)/this.rem;return"string"==typeof a&&a.match(/px$/)&&(b+="rem"),b}}(window,window.lib||(window.lib={}));
    </script>
</head>
<body>
<div class="modal-container"></div>
<!--标签信息弹窗-->
<div v-cloak :class="['modal','ui-tags-details',{'in':modal}]">
    <div class="modal-bd">
        <p class="tag-modal-title">商品说明</p>
        <div class="tag-details-list">
            <div v-for="tag in tags" class="tag-details-bd">
                <div class="tag-title">
                    <p class="tag-title-bd" v-text="tag.name"
                       :style="{ borderColor:tag.color, color:tag.color}">
                    </p>
                </div>
                <p v-show="tag.content ? true : false " class="tag-content" v-text="tag.content"></p>
            </div>
        </div>
        <div class="tag-modal-submit">
            <button v-close-frame-modal type="button" class="button sub-btn tag-close-btn">
                关闭
            </button>
        </div>
    </div>
</div>
<script src="../library/api.js"></script>
<script src="../script/config.js"></script>
<script src="../library/fastclick.js"></script>
<script src="../library/loadsh.js"></script>
<script src="../library/vue.js"></script>
<script src="../script/fulu.js"></script>
<script src="../script/template.js"></script>
<script src="../script/fuelCard.js"></script>
<script>
    fl.modalFrameInit();
    var vm = new Vue({
        el: 'body',
        data: {
            tags: [
                {name: '', content: '', color: ''}
            ]
        }
    });
    fl.apiready(function () {
        fl.showFrameModal();
    });
</script>
</body>
</html>