@charset "utf-8";
// pesticide v0.1.0 . @mrmrs . MIT

@if $DEBUG == 1 {
  body { outline: 1px solid #2980b9 !important; /*no*/ }
  article { outline: 1px solid #3498db !important;  /*no*/ }
  nav { outline: 1px solid #0088c3 !important;  /*no*/ }
  aside { outline: 1px solid #33a0ce !important;  /*no*/ }
  section { outline: 1px solid #66b8da !important;  /*no*/ }
  header { outline: 1px solid #99cfe7 !important;  /*no*/ }
  footer { outline: 1px solid #cce7f3 !important;  /*no*/ }
  h1 { outline: 1px solid #162544 !important;  /*no*/ }
  h2 { outline: 1px solid #314e6e !important;  /*no*/ }
  h3 { outline: 1px solid #3e5e85 !important;  /*no*/ }
  h4 { outline: 1px solid #449baf !important;  /*no*/ }
  h5 { outline: 1px solid #c7d1cb !important;  /*no*/ }
  h6 { outline: 1px solid #4371d0 !important;  /*no*/ }
  main { outline: 1px solid #2f4f90 !important;  /*no*/ }
  address { outline: 1px solid #1a2c51 !important;  /*no*/ }
  div { outline: 1px solid #036cdb !important;  /*no*/ }
  p { outline: 1px solid #ac050b !important;  /*no*/ }
  hr { outline: 1px solid #ff063f !important;  /*no*/ }
  pre { outline: 1px solid #850440 !important;  /*no*/ }
  blockquote { outline: 1px solid #f1b8e7 !important;  /*no*/ }
  ol { outline: 1px solid #ff050c !important;  /*no*/ }
  ul { outline: 1px solid #d90416 !important;  /*no*/ }
  li { outline: 1px solid #d90416 !important;  /*no*/ }
  dl { outline: 1px solid #fd3427 !important;  /*no*/ }
  dt { outline: 1px solid #ff0043 !important;  /*no*/ }
  dd { outline: 1px solid #e80174 !important;  /*no*/ }
  figure { outline: 1px solid #ff00bb !important;  /*no*/ }
  figcaption { outline: 1px solid #bf0032 !important;  /*no*/ }
  table { outline: 1px solid #00cc99 !important;  /*no*/ }
  caption { outline: 1px solid #37ffc4 !important;  /*no*/ }
  thead { outline: 1px solid #98daca !important;  /*no*/ }
  tbody { outline: 1px solid #64a7a0 !important;  /*no*/ }
  tfoot { outline: 1px solid #22746b !important;  /*no*/ }
  tr { outline: 1px solid #86c0b2 !important;  /*no*/ }
  th { outline: 1px solid #a1e7d6 !important;  /*no*/ }
  td { outline: 1px solid #3f5a54 !important;  /*no*/ }
  col { outline: 1px solid #6c9a8f !important;  /*no*/ }
  colgroup { outline: 1px solid #6c9a9d !important;  /*no*/ }
  button { outline: 1px solid #da8301 !important;  /*no*/ }
  datalist { outline: 1px solid #c06000 !important;  /*no*/ }
  fieldset { outline: 1px solid #d95100 !important;  /*no*/ }
  form { outline: 1px solid #d23600 !important;  /*no*/ }
  input { outline: 1px solid #fca600 !important;  /*no*/ }
  keygen { outline: 1px solid #b31e00 !important;  /*no*/ }
  label { outline: 1px solid #ee8900 !important;  /*no*/ }
  legend { outline: 1px solid #de6d00 !important;  /*no*/ }
  meter { outline: 1px solid #e8630c !important;  /*no*/ }
  optgroup { outline: 1px solid #b33600 !important;  /*no*/ }
  option { outline: 1px solid #ff8a00 !important;  /*no*/ }
  output { outline: 1px solid #ff9619 !important;  /*no*/ }
  progress { outline: 1px solid #e57c00 !important;  /*no*/ }
  select { outline: 1px solid #e26e0f !important;  /*no*/ }
  textarea { outline: 1px solid #cc5400 !important;  /*no*/ }
  details { outline: 1px solid #33848f !important;  /*no*/ }
  summary { outline: 1px solid #60a1a6 !important;  /*no*/ }
  command { outline: 1px solid #438da1 !important;  /*no*/ }
  menu { outline: 1px solid #449da6 !important;  /*no*/ }
  del { outline: 1px solid #bf0000 !important;  /*no*/ }
  ins { outline: 1px solid #400000 !important;  /*no*/ }
  img { outline: 1px solid #22746b !important;  /*no*/ }
  iframe { outline: 1px solid #64a7a0 !important;  /*no*/ }
  embed { outline: 1px solid #98daca !important;  /*no*/ }
  object { outline: 1px solid #00cc99 !important;  /*no*/ }
  param { outline: 1px solid #37ffc4 !important;  /*no*/ }
  video { outline: 1px solid #6ee866 !important;  /*no*/ }
  audio { outline: 1px solid #027353 !important;  /*no*/ }
  source { outline: 1px solid #012426 !important;  /*no*/ }
  canvas { outline: 1px solid #a2f570 !important;  /*no*/ }
  track { outline: 1px solid #59a600 !important;  /*no*/ }
  map { outline: 1px solid #7be500 !important;  /*no*/ }
  area { outline: 1px solid #305900 !important;  /*no*/ }
  a { outline: 1px solid #ff62ab !important;  /*no*/ }
  em { outline: 1px solid #800b41 !important;  /*no*/ }
  strong { outline: 1px solid #ff1583 !important;  /*no*/ }
  i { outline: 1px solid #803156 !important;  /*no*/ }
  b { outline: 1px solid #cc1169 !important;  /*no*/ }
  u { outline: 1px solid #ff0430 !important;  /*no*/ }
  s { outline: 1px solid #f805e3 !important;  /*no*/ }
  small { outline: 1px solid #d107b2 !important;  /*no*/ }
  abbr { outline: 1px solid #4a0263 !important;  /*no*/ }
  q { outline: 1px solid #240018 !important;  /*no*/ }
  cite { outline: 1px solid #64003c !important;  /*no*/ }
  dfn { outline: 1px solid #b4005a !important;  /*no*/ }
  sub { outline: 1px solid #dba0c8 !important;  /*no*/ }
  sup { outline: 1px solid #cc0256 !important;  /*no*/ }
  time { outline: 1px solid #d6606d !important;  /*no*/ }
  code { outline: 1px solid #e04251 !important;  /*no*/ }
  kbd { outline: 1px solid #5e001f !important;  /*no*/ }
  samp { outline: 1px solid #9c0033 !important;  /*no*/ }
  var { outline: 1px solid #d90047 !important;  /*no*/ }
  mark { outline: 1px solid #ff0053 !important;  /*no*/ }
  bdi { outline: 1px solid #bf3668 !important;  /*no*/ }
  bdo { outline: 1px solid #6f1400 !important;  /*no*/ }
  ruby { outline: 1px solid #ff7b93 !important;  /*no*/ }
  rt { outline: 1px solid #ff2f54 !important;  /*no*/ }
  rp { outline: 1px solid #803e49 !important;  /*no*/ }
  span { outline: 1px solid #cc2643 !important;  /*no*/ }
  br { outline: 1px solid #db687d !important;  /*no*/ }
  wbr { outline: 1px solid #db175b !important;  /*no*/ }
}